@tailwind base;
@tailwind components;
@tailwind utilities;

.Infinity_movingText::-webkit-scrollbar {
    display: none;
}


.Infinity_movingText {
    h1{
        animation: moving 10s linear 0s infinite forwards;
    }
}

@keyframes moving {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}